/**
 * Layers/Tags In Time extension for SketchUp.
 *
 * Copyright: © 2021 Samuel Tallet
 *
 * Licence: GNU General Public License 3.0
 */

* {

    font-family: Arial, sans-serif;
    font-size: 13px;

}

*:focus {
    outline: none;
}

body {
    margin: 0;
}

.hidden {
    display: none;
}

.input-group {

    display: inline-block;
    position: relative;

}

.dropdown,
.input-group .input-field {

    padding: 5px;

    border-style: solid;
    border-color: rgb(221, 221, 221);
    border-width: 1px;
    border-radius: 5px;

}

.input-group .input-field {
    width: 100px;
}

.input-group .input-field.invalid {
    border-color: rgb(210, 21, 21);
}

.input-group .input-icon {

    position: absolute;
    right: 4px;
    top: 5px;

    height: 16px;
    width: 16px;

}

.button {

    border-color: transparent;
    border-radius: 5px;

    padding: 5px;
    
    background-color: rgb(128, 128, 128);
    color: white;

    cursor: pointer;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.gold.button {
    background-color: rgb(158, 134, 0);
}

.black.button {
    background-color: rgb(51, 51, 51);
}

.blue.button {
    background-color: rgb(0, 95, 158);
}

.spacer {
    height: 36px;
}

.info {

    margin: 0 auto;

    width: fit-content;

}

.info .text {

    padding: 8px;

    background-color: rgb(209, 236, 241);

    border-radius: 5px;

}

.top-toolbar {

    margin-left: 13px;
    margin-top: 10px;
    
}

.list {

    list-style: none;

    padding-left: 8px;

}

.layer {
    margin: 5px;
}

.layer .color,
.layer .name {

    display: inline-block;
    vertical-align: middle;

}

.layer .color {

    width: 16px;
    height: 16px;

}

.layer .name {

    min-width: 151px;
    width: 27%;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.layer .button {
    width: 62px;
}

.bottom-toolbar {
    
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;

    background-color: white;

}

.bottom-toolbar .save-changes.button {

    float: right;

    margin: 10px;

}
